<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akoudri.healthrecord.app"
    android:versionCode="12"
    android:versionName="1.4.5">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>

    <supports-screens android:xlargeScreens="true"
                    android:largeScreens="true"
                    android:normalScreens="true"
                    android:smallScreens="true"
                    android:anyDensity="true"/>

    <application
        android:name="com.akoudri.healthrecord.app.HealthRecordApp"
        android:allowBackup="true"
        android:icon="@drawable/health_record_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Begin Ads -->
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <!-- End Ads -->
        <activity
            android:name="com.akoudri.healthrecord.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.akoudri.healthrecord.activity.CreatePersonActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditDayActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.CreateTherapistActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.ChooseTherapistActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditTherapistActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditAppointmentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditObservationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.CreateAilmentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditAilmentActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.CreateMedicationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditMedicationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditPersonActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.CalendarActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.TherapistActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.AnalysisActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.akoudri.healthrecord.activity.EditMeasureActivity" android:screenOrientation="portrait"/>
        <activity android:name="org.achartengine.GraphicalActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.akoudri.healthrecord.utils.NotificationPublisher" />
        <!-- Begin Ads -->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        <!-- End Ads -->
    </application>

</manifest>
