<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.akoudri.healthrecord.app" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.akoudri.healthrecord.app.HealthRecordApp"
        android:allowBackup="true"
        android:icon="@drawable/health_record_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.akoudri.healthrecord.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.CreatePersonActivity"
            android:label="@string/add"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.AddPerson" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.EditPersonActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.EditPerson" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.EditDayActivity"
            android:label="@string/edit"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.EditDay" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.CreateTherapistActivity"
            android:label="@string/add_therapist"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.AddTherapist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.UpdateTherapistActivity"
            android:label="@string/update_therapist"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.UpdateTherapist" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- FIXME: set correct label -->
        <activity
            android:name="com.akoudri.healthrecord.activity.CreateAppointmentActivity"
            android:label="@string/add_rv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.AddAppointment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.UpdateAppointmentActivity"
            android:label="@string/add_rv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.UpdateAppointment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.CreateAilmentActivity"
            android:label="@string/add_rv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.CreateAilment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.CreateTreatmentActivity"
            android:label="@string/add_rv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.CreateTreatment" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.akoudri.healthrecord.activity.CreateMedicationActivity"
            android:label="@string/add_rv"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.akoudri.healthrecord.app.CreateMedication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
